<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Email Verification</title>
</head>
<style>

</style>
<body>

  <div>Dear <b>{{name}}</b>,</div>

  <div>{{main_content}}: <b>{{verification_token}}.</b></div>
  <div> Otp gets expired in 5 minutes</div>


  <div>Best regards,</div>
  <div>The FoodJet Team</div>
</body>
</html>